@font-face {
  font-family: "roboto-light";
  src: url(../assets/fonts/roboto/Roboto-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "roboto-black";
  src: url(../assets/fonts/roboto/Roboto-Black.ttf);
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-width: 300px;
  margin: 2rem 0;
}

.form-input-container {
  margin-bottom: 1rem;
}

label {
  font-family: "roboto-black", sans-serif;
  font-size: 0.8em;
  color: #222;
  margin-bottom: 1rem;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: 0.5em;
  border: 1px solid #999;
  width: 100%;
}
