#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100lvh;
}
.nav-bar {
  border-bottom: 1px solid lightgrey;
  padding: 1rem 1rem;
}

.content {
  border: 1px solid black;
  height: 80vh;
  display: flex;
}
.filling-container,
.resume-container {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filling-container {
  flex: 1;
}

.resume-container {
  flex: 1.75;
}
